crash-reports
logs
minecraftinstance.json
reauth.toml
lightspeed-cache
resourcepacks
Xaero*
saves
/data/
playerSnapshots
options.txt
usercache.json
usernamecache.json
backups
natives
downloads
servers.dat
servers.dat_old
WailaErrorOutput.txt
config\xaerominimap.txt
config\xaerominimap_entities
*.bak